<div>
  <form [formGroup]="createSellerForm" (submit)="createSeller()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Name" />
    </div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email" placeholder="Email" />
    </div>
    <div class="form-group">
      <label>Birth Date</label>
      <input type="date" class="form-control" formControlName="birthDate" />
    </div>
    <div class="form-group">
      <label>Base Salary</label>
      <input type="text" class="form-control" formControlName="baseSalary" placeholder="Base salary" />
    </div>
    <div class="form-group">
      <label>Departments</label>
      <select class="form-control" formControlName="department" id="department">
        <option *ngFor="let department of departments; let i = index" [value]="departments[i].id">
          {{departments[i].name}}
        </option>
      </select>
    </div>
    <button class="btn btn-primary" [disabled]="!createSellerForm.valid">
      Save
    </button>
  </form>
</div>
