.footer {
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: flex-end;

  background-color: black;
  width: 100%;
}

.footer > span {
  font-weight: 300;
  font-size: 1rem;
}

.v-middle {
  vertical-align: middle;
}
